@use "../src/App.scss";

.ContactPage {
  background-image: App.$background-gradient;
  height: 100vh;
}
.formContact {
  border: 2px solid white;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2vh;
  width: 50vw;
  font-family: App.$font-title;
  font-size: App.$size-title;
  color: white;
  label {
    margin: 1vw;
  }
  input {
    margin: 1vw;
    border-radius: 20px;
    height: 2rem;
    width: 40vw;
    display: flex;
    justify-items: end;
  }
  input:hover {
    border: solid 2px App.$color-bordeau;
  }
  .message {
    width: 43vw;
    display: flex;
    flex-direction: column;

    textarea {
      height: 20vh;
      border-radius: 20px;
      margin: 1vh;
      padding: 8px;
    }
  }
  .submit {
    // padding: 2vh;
    // width: 10vw;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: App.$font-h1;
    font-size: App.$size-title;
    border-radius: 20vh;

    .send {
      width: 3vw;
      transform: rotate(45deg);
      margin-left: 2vh;
    }
  }
}

@media screen and (max-width: 850px) {
  .formContact {
    font-size: 1rem;
  }
  .submit {
    width: 40vw;
  }
  .send {
    width: 10vw;
  }
}
