@use "../src/App.scss";

.cardsSkills {
  flex: 1 2 10px;
  justify-content: space-around;
  height: 13vh;
  .imgSite {
    width: 6vw;
    height: 10vh;
  }
  .nameSite {
    color: white;
    font-family: App.$font-title;
  }
}
@media screen and (max-width: 850px){

}