@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap"); // cursive

$color-bordeau: #6d071a;
$size-title: 1.5rem;
$size-h1: 3rem;
$font-title: "Solitreo", cursive;
// $border-radius: ;
