@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap"); // cursive

$color-bordeau: #6d071a;
$background-color: rgb(26, 26, 26);
// $shadow-title: rgba(255, 255, 255, 0.5) 0px 3px 3px;
$shadow-title: 3px 3px 20px #f1eef0, -2px 1px 30px #e7e7e7;
$size-title: 1.5rem;

$size-h1: 3rem;
$font-title: "Solitreo", cursive;
// $border-radius: ;
